<div class="col-12 col-lg-6">
	<div class="card">
		<div class="cardExpandIconWrapper">
			<div class="cardExpandIcon">
				<img
					width="100%"
					height="100%"
					src="img/expandArrow.png"
					class="sidebarIconImg expandCard"
				/>
			</div>
		</div>
		<div class="card-body">
			<h4 class="card-title cardText">{prefix}{name}</h4>
			<p class="card-text cardText marginBottom-0">{description}</p>
			<div class="d-none row expandArea">
				<div class="col">
					<p class="commandCardExpandText">{options}</p>
					<p class="commandCardExpandText">{alias}</p>
					<p class="commandCardExpandText">{permissions}</p>
				</div>
			</div>
		</div>
	</div>
</div>
