<br />
<div class="d-flex justify-content-center">
	<div class="d-flex">
		<img src="img/logo.png" width="64px" height="64px" />
		<pre></pre>
		<h1 class="sidebarTitleText">Vibe</h1>
	</div>
</div>
<div class="d-flex justify-content-center">
	<i class="sidebarSubText">The ultimate Discord music bot</i>
</div>
<br />
<br />
<div class="d-flex justify-content-center flex-column">
	<a class="btn btn-dark border border-dark border-2" href="/">Home</a>
	<pre></pre>
	<a class="btn btn-dark border border-dark border-2" href="/commands.html"
		>Commands</a
	>
	<pre></pre>
	<a
		class="btn btn-dark border border-dark border-2"
		href="https://github.com/VibeDiscordBot"
		target="_blank"
		>Github</a
	>
</div>
