body {
	background-color: rgb(44, 43, 43);

	width: 100vw;
	height: 100vh;
}

.sidebar {
	background-color: rgb(27, 27, 27);
}

.fillY {
	height: 100%;
}

.sidebarTitleText {
	color: white;
}

.sidebarSubText {
	color: white;
}

.promotionTitleText {
	color: white;
	text-align: center;
}

.cardText {
	text-align: center;
	color: white;
}

.card {
	background-color: black;
	margin-bottom: 25px;
}

.titleTextWhy {
	text-align: center;
	color: white;
}

.sidebarIconWrapper {
	position: relative;
	z-index: 1;
	width: 100%;
}

.sidebarIcon {
	position: absolute;
	z-index: 2;

	width: 50px;
	height: 50px;
	top: 15px;
	right: 15px;
}

.sidebarIconImg {
	cursor: pointer;
}

.mobileSidebar {
	z-index: 3;
}

.cardExpandIconWrapper {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.cardExpandIcon {
	position: absolute;
	z-index: 2;

	width: 50px;
	height: 50px;
	top: 5px;
	right: 5px;
}

.commandsHeaderTitleText {
	color: white;
	text-align: center;
}

.marginBottom-0 {
	margin-bottom: 0px;
}

.commandCardExpandText {
	color: white;
	text-align: center;
}

body {
	overflow: hidden;
}

#content {
	overflow-y: auto;
}
